
patchfail/barcolor
lazy
dwm.o
util.o
drw.o
dwm
config.h.orig
config.h.rej
dwm.c.orig
dwm.c.rej
patch.diff
.cache/clangd/index
compile_commands.json
scheme1.h
dwm-adjacenttag-skipvacant-6.2.diff
dwm-alpha-20201019-61bb8b2.diff